.nav {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background-color: #feeafaa3;
}

.nav-link {
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 20px;
	color: #595555;
	font-size: 16px;
	font-weight: 500;
}

.nav-link.active {
	color: #3d3b3b;
	font-weight: 900;
}